
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gt-map {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gt-map-control-zoomer{
  position: fixed;
  top: 10px;
}

.gt-map-control-tilter{
  position: fixed;
  bottom: 10px;
}